.navbar-header a{
    text-decoration: none;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}


.custom_feild{
    border: 1px solid #555;
outline-color: #FD9F3E;
width: 96%;
font-size: 1em;
padding: 0.5em;
}

.btncol{
background-color:rgba(0, 0, 0, 0.623);
color:white;
}


#verified,
#fillotp {
display: none;
}

#otpstatus {
color: red;
}
#checkotp{
padding:0 12px;
}

.ershow{
  color:red;
}
#mobotp{
    color:red;
}
#verifyotp,#fillmobotp{
   display:none;
}

.error{
  color:red;
}
 
 /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}
#answershow{
display:none;
}
#signstatus{
color:red;
}





#otpstatus {
color: red;
}
#checkotp{
padding:0 12px;
}

.ershow{
  color:red;
}
#mobotp{
    color:red;
}
#verifyotp,#fillmobotp{
   display:none;
}

.error{
  color:red;
}
 
